<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
        <form name="loginForm" class="clearfix" data-ng-submit="loginCtrl.login()">
            <fieldset class="well fieldset form-group col-xs-8 col-xs-offset-2 clearfix">
                <legend class="legend"><strong>Login</strong></legend>

                <div class="alert alert-danger" data-ng-if="loginCtrl.error">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{loginCtrl.error.message}}
                </div>

                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text"
                           class="form-control"
                           id="userName"
                           name="userName"
                           data-ng-model="loginCtrl.userName"
                           placeholder="User Name"
                           required
                           autofocus>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           data-ng-model="loginCtrl.password"
                           placeholder="Password"
                           required>
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary"
                            data-ng-disabled="loginForm.$invalid || loginCtrl.loggingIn">
                        <span data-ng-if="!loginCtrl.loggingIn">Login</span>
                        <span data-ng-if="loginCtrl.loggingIn">
                        <i class="fa fa-spinner fa-pulse"></i> Logging In...
                    </span>
                    </button>
                    <a class="btn btn-link" data-ui-sref="register">Register</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
