<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <form name="registerForm" data-ng-submit="registerCtrl.register()">
            <fieldset class="well fieldset form-group col-xs-10 col-xs-offset-1 clearfix">
                <legend class="legend"><strong data-translate="register.legend"></strong></legend>

                <div class="alert alert-danger" data-ng-if="registerCtrl.error">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{registerCtrl.error.message}}
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="username" data-translate="register.firstNameLabel"></label>
                            <input type="text"
                                   class="form-control"
                                   id="firstName"
                                   name="firstName"
                                   data-ng-model="registerCtrl.user.firstName"
                                   placeholder="First Name"
                                   required
                                   autofocus>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="username" data-translate="register.lastNameLabel"></label>
                            <input type="text"
                                   class="form-control"
                                   id="lastName"
                                   name="lastName"
                                   data-ng-model="registerCtrl.user.lastName"
                                   placeholder="Last Name"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="userName" data-translate="register.usernameLabel"></label>
                            <input type="text"
                                   class="form-control"
                                   id="userName"
                                   name="userName"
                                   data-ng-model="registerCtrl.user.auth.userName"
                                   placeholder="User Name"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="password" data-translate="register.passwordLabel"></label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                                   data-ng-model="registerCtrl.user.auth.password"
                                   placeholder="Password"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary"
                            data-ng-disabled="registerForm.$invalid || registerCtrl.registering">
                        <span data-ng-if="!registerCtrl.registering" data-translate="register.registerBtnText"></span>
                        <span data-ng-if="registerCtrl.registering">
                        <i class="fa fa-spinner fa-pulse"></i>{{'register.registeringBtnText' | translate}}
                    </span>
                    </button>
                    <a class="btn btn-link" data-ui-sref="login" data-translate="register.cancelBtnText"></a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
