<div class="col-xs-12">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#signIn" aria-controls="signIn" role="tab" data-toggle="tab">Sign In</a>
        </li>
        <li role="presentation">
            <a href="#signUp" aria-controls="signUp" role="tab" data-toggle="tab">Sign Up</a>
        </li>
    </ul>
    <div class="tab-content">
        <br>
        <div id="signIn" role="tabpanel" class="tab-pane active">
            <div class="col-xs-12">
                <form name="signUpForm">
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <input type="text"
                                   id="username"
                                   name="username"
                                   data-ng-model="username"
                                   class="form-control"
                                   placeholder="User Name"
                                   autofocus>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-4">
                            <input type="password"
                                   id="password"
                                   name="password"
                                   data-ng-model="password"
                                   class="form-control"
                                   placeholder="Password">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-4">
                            <button type="submit"
                                    class="btn btn-primary form-control"
                                    data-ng-disabled="!username || !password"
                                    data-ng-click="signInCtrl.signIn(username, password)">
                                <span data-ng-if="!signInCtrl.signingIn">Sign In</span>
                                <span data-ng-if="signInCtrl.signingIn">
                                    <i class="fa fa-spinner fa-pulse"></i> Signing In...
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="signUp" role="tabpanel" class="tab-pane">
            <div class="col-xs-12">
                <form name="signUpForm" action="/auth/signUp" method="post">
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="User Name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-4">
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Password">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-4">
                            <input type="submit"
                                   class="btn btn-primary form-control"
                                   value="Sign Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
