<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-question-circle fa-stack-2x text-danger"></i>
                </span>
            </div>
            <div class="col-md-10 col-sm-10">
                <span class="text-danger"><h1>500 Internal Server Error</h1></span>
            </div>
        </div>
        <p>
            Sorry, there seems to be some issue. Please contact your admin or
            <br/> Take me <a data-ui-sref="dashboard">back</a>.
        </p>
    </div>
</div>
