<!DOCTYPE html>
<html lang="en" data-ng-app="bcbsa-shell">
<head>
    <meta charset="UTF-8">
    <title data-ng-bind="title"></title>

    <base href="/">

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- bower:css -->
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="../libs/jquery/dist/jquery.js"></script>
    <script src="../libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../libs/angular/angular.js"></script>
    <script src="../libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../libs/lodash/lodash.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/styles/css/core.css">
    <link rel="stylesheet" href="/styles/css/form.css">
    <link rel="stylesheet" href="/styles/css/nav-tabs.css">
    <link rel="stylesheet" href="/styles/css/navbar.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/js/bcbsa-shell.js"></script>
    <script src="/js/bcbsa-shell.tpl.js"></script>
    <!-- endinject -->
</head>
<body class="jumbotron">

<data-ui-view></data-ui-view>

</body>
</html>
