<!DOCTYPE html>
<html lang="en" data-ng-app="bcbsa-shell">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-ng-bind="title"></title>

    <base href="/">

    <link rel="icon" href="/images/favicon.ico">

    <!-- bower:css -->
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../libs/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="../libs/dropzone/dist/min/dropzone.min.css" />
    <link rel="stylesheet" href="../libs/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="../libs/jquery/dist/jquery.js"></script>
    <script src="../libs/jquery-ui/jquery-ui.js"></script>
    <script src="../libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../libs/angular/angular.js"></script>
    <script src="../libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../libs/angular-cookies/angular-cookies.js"></script>
    <script src="../libs/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="../libs/angular-mocks/angular-mocks.js"></script>
    <script src="../libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="../libs/angular-translate/angular-translate.js"></script>
    <script src="../libs/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="../libs/angular-ui-grid/ui-grid.js"></script>
    <script src="../libs/angular-ui-mask/dist/mask.js"></script>
    <script src="../libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="../libs/lodash/lodash.js"></script>
    <script src="../libs/ng-file-upload/ng-file-upload.js"></script>
    <script src="../libs/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/styles/css/app-feature.css">
    <link rel="stylesheet" href="/styles/css/core.css">
    <link rel="stylesheet" href="/styles/css/form.css">
    <link rel="stylesheet" href="/styles/css/loading.css">
    <link rel="stylesheet" href="/styles/css/margins.css">
    <link rel="stylesheet" href="/styles/css/nav-tabs.css">
    <link rel="stylesheet" href="/styles/css/navbar.css">
    <link rel="stylesheet" href="/styles/css/paddings.css">
    <link rel="stylesheet" href="/styles/css/preview.css">
    <link rel="stylesheet" href="/styles/css/select.css">
    <link rel="stylesheet" href="/styles/css/sidebar.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/js/bcbsa-shell.js"></script>
    <script src="/js/bcbsa-shell.tpl.js"></script>
    <!-- endinject -->

    <script type="text/javascript" src="../libs/smoke/js/smoke.min.js"></script>
    <script type="text/javascript" src="../libs/smoke/js/es.min.js"></script>
</head>
<body class="jumbotron">

<data-ui-view></data-ui-view>

</body>
</html>
