<form name="featurePoolForm">
    <div class="row">
        <section class="col-xs-12">
            <header class="col-xs-12 m-y-5">
                <strong>{{featurePoolCtrl.featurePool.header}}</strong>
            </header>
            <main>
                <fieldset class="well fieldset col-xs-12">
                    <div class="alert alert-info m-b-0" data-ng-if="!featurePoolCtrl.selected">
                        Please select an app from the pool or add one...
                    </div>

                    <div class="form-group col-xs-6" data-ng-repeat="(appKey, appField) in featurePoolCtrl.selected">
                        <label for="{{appKey}}" data-ng-bind="appField.label"></label>

                        <input data-ng-if="appField.type === 'text'"
                               type="{{appField.type}}"
                               class="form-control"
                               id="{{appKey}}"
                               name="{{appKey}}"
                               data-ng-model="appField.value"
                               placeholder="{{appField.placeholder}}">

                        <div data-ng-if="appField.type === 'checkbox'">
                            <input type="{{appField.type}}"
                                   class=""
                                   id="{{appKey}}"
                                   name="{{appKey}}"
                                   data-ng-model="appField.value">
                        </div>

                        <div class="input-group" data-ng-if="appField.type === 'image'">
                            <input type="text"
                                   class="form-control"
                                   id="{{appkey}}"
                                   name="{{appKey}}"
                                   data-ng-model="appField.value"
                                   data-ng-readonly="true"
                                   placeholder="{{appField.placeholder}}">
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-primary"
                                        data-ngf-select="featurePoolCtrl.uploadAppImage($file, appField)">
                                    <span data-ng-if="!featurePoolCtrl.uploadingAppImage">Upload</span>
                                    <span data-ng-if="featurePoolCtrl.uploadingAppImage">
                                        <i class="fa fa-spinner fa-pulse"></i> Uploading...
                                        {{featurePoolCtrl.uploadAppImageProgress}} %
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </main>
        </section>
        <section class="col-xs-12">
            <header class="col-xs-12 m-y-5">
                <strong>App Pool</strong>
                <section class="pull-right">
                    <button class="btn btn-success btn-xs"
                            data-ng-click="featurePoolCtrl.addApp()"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-warning btn-xs"
                            data-ng-disabled="!featurePoolCtrl.selected"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-xs"
                            data-ng-disabled="!featurePoolCtrl.selected"
                            data-ng-click="featurePoolCtrl.deleteApp()"><i class="fa fa-trash"></i></button>
                </section>
            </header>
            <main>
                <fieldset class="well fieldset form-group col-xs-12">
                    <div class="row">
                        <article class="col-xs-12">
                            <div class="alert alert-info m-b-0"
                                 data-ng-if="!featurePoolCtrl.featurePool.appPool.length">
                                No app is configured yet. Please add one...
                            </div>

                            <button type="button"
                                    class="btn btn-default m-x-5"
                                    data-ng-repeat="app in featurePoolCtrl.featurePool.appPool"
                                    data-ng-class="{'btn-success': app.displayName === featurePoolCtrl.selected.displayName}"
                                    data-ng-click="featurePoolCtrl.selected = app">
                                <span data-ng-bind="app.displayName.value"></span>
                            </button>
                        </article>
                    </div>
                </fieldset>
            </main>
        </section>
    </div>
    <div class="row">
        <section class="col-xs-12">
            <button type="button"
                    class="btn btn-primary"
                    data-ng-disabled="featurePoolForm.$invalid || featurePoolCtrl.updating"
                    data-ng-click="featurePoolCtrl.update()">
                <span data-ng-if="featurePoolCtrl.updating">
                    <i class="fa fa-spinner fa-pulse"></i> Updating...
                </span>
                <span data-ng-if="!featurePoolCtrl.updating">Update</span>
            </button>
        </section>
    </div>
</form>
