<form name="featureAssignmentForm">
    <div data-ng-if="!featureAssignmentCtrl.rootConfig.featurePool.appPool.length">
        <div class="alert alert-info col-xs-12 m-b-0">
            Nothing can be assigned yet. Please configure apps from the Feature Pool tab...
        </div>
    </div>

    <div class="row" data-ng-if="featureAssignmentCtrl.rootConfig.featurePool.appPool.length">
        <section class="col-xs-12">
            <fieldset class="well fieldset form-group">
                <section class="form-group col-xs-12">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="featureSearch"
                               name="featureSearch"
                               data-ng-model="search.displayName.value"
                               placeholder="Search apps by display name..."
                               autofocus>
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-search fa-lg"></i>
                            </button>
                        </span>
                    </div>
                </section>
                <section class="col-xs-12">
                    <article class="feature-container text-center col-xs-2 p-y-15 m-a-10"
                             data-ng-repeat="app in featureAssignmentCtrl.rootConfig.featurePool.appPool | filter:search"
                             data-ng-class="{'feature-enabled': app.enabled.value}"
                             data-ng-click="app.enabled.value = !app.enabled.value">
                        <figure class="col-xs-12">
                            <img class="img-circle logo-preview" src="{{app.icon.src}}" alt="">
                            <figcaption>
                                <small>{{app.displayName.value}}</small>
                            </figcaption>
                        </figure>
                        <div class="col-xs-12">
                            <input type="checkbox" data-ng-model="app.enabled.value">
                        </div>
                    </article>
                </section>
            </fieldset>
        </section>

        <section class="col-xs-12">
            <button type="button"
                    class="btn btn-primary"
                    data-ng-disabled="featureAssignmentForm.$invalid || featureAssignmentCtrl.updating"
                    data-ng-click="featureAssignmentCtrl.update()">
                <span data-ng-if="featureAssignmentCtrl.updating">
                    <i class="fa fa-spinner fa-pulse"></i> Updating...
                </span>
                <span data-ng-if="!featureAssignmentCtrl.updating">Update</span>
            </button>
        </section>
    </div>
</form>
