<header>
</header>
<main>
    <form action="">
        <div class="row">
            <section class="col-xs-12 col-sm-8 col-md-8">
                <fieldset class="well fieldset form-group col-xs-12">
                    <legend class="legend"><strong>{{planSetupCtrl.planSetup.branding.header}}</strong></legend>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="planTitle">Plan Information</label>
                                <input type="text"
                                       class="form-control"
                                       id="planTitle"
                                       name="planTitle"
                                       data-ng-model="planSetupCtrl.planSetup.branding.planInfo.value"
                                       placeholder="Plan Title"
                                       required
                                       autofocus>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group col-xs-6 p-x-0">
                                <label>Logo</label><br>

                                <button type="button"
                                        class="btn btn-default"
                                        data-ngf-select="planSetupCtrl.uploadLogo($file)">
                                    <span data-ng-if="!planSetupCtrl.uploadingLogo">Upload</span>
                                    <span data-ng-if="planSetupCtrl.uploadingLogo">
                                        <i class="fa fa-spinner fa-pulse"></i> Uploading...
                                        {{planSetupCtrl.uploadLogoProgress}} %
                                    </span>
                                </button>
                            </div>
                            <div class="col-xs-6" data-ng-if="planSetupCtrl.base64Logo">
                                <img class="logo-preview"
                                     src="{{planSetupCtrl.base64Logo}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Color Theme</label>
                                <div class="radio"
                                     data-ng-repeat="theme in planSetupCtrl.planSetup.branding.colorTheme.themes track by theme.id">
                                    <label>
                                        <input type="radio"
                                               name="planColorTheme"
                                               data-ng-value="theme.id"
                                               data-ng-model="planSetupCtrl.planSetup.branding.colorTheme.selected">
                                        {{theme.name}}
                                    </label>
                                </div>

                                <button type="button"
                                        class="btn btn-default"
                                        data-ng-click="planSetupCtrl.applyColorTheme()">Apply
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Background Image</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="planLogo" value="default"
                                               data-ng-model="planSetupCtrl.planSetup.branding.background.default"
                                               data-ng-value="true">
                                        Use Default
                                        <small>
                                            <cite>{{planSetupCtrl.planSetup.branding.background.defaultUrl}}</cite>
                                        </small>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="planLogo" value="new"
                                               data-ng-model="planSetupCtrl.planSetup.branding.background.default"
                                               data-ng-value="false">
                                        Upload New
                                        <button type="button"
                                                class="btn btn-default btn-sm"
                                                data-ng-if="!planSetupCtrl.planSetup.branding.background.default"
                                                data-ngf-select="planSetupCtrl.uploadBackgroundImage($file)">
                                            <span data-ng-if="!planSetupCtrl.uploadingBackgroundImage">Upload</span>
                                            <span data-ng-if="planSetupCtrl.uploadingBackgroundImage">
                                                <i class="fa fa-spinner fa-pulse"></i> Uploading...
                                                {{planSetupCtrl.uploadBackgroundImageProgress}} %
                                            </span>
                                        </button>
                                    </label>
                                </div>

                                <button type="button" class="btn btn-default">Preview</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
            <section class="col-xs-12 col-sm-4 col-md-4">
                <fieldset class="well fieldset form-group col-xs-12">
                    <legend class="legend"><strong>{{planSetupCtrl.planSetup.support.header}}</strong></legend>

                    <div class="row">
                        <div class="col-xs-12" data-ng-repeat="field in planSetupCtrl.planSetup.support.fields">
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon" id="{{field.name}}-addOn">
                                    <i data-ng-class="field.iconClass"></i>
                                </span>
                                    <input type="text"
                                           class="form-control"
                                           aria-describedby="{{field.name}}-addOn"
                                           id="{{field.name}}"
                                           name="{{field.name}}"
                                           data-ng-model="field.value"
                                           placeholder="{{field.title}}"
                                           required>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
        </div>

        <div class="row">
            <section class="col-xs-12 col-sm-8 col-md-8">
                <fieldset class="well fieldset form-group col-xs-12">
                    <legend class="legend"><strong>Languages</strong></legend>
                    <div class="row">
                        <div class="col-xs-4">
                            <span>Multilingual Support</span>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio"
                                           data-ng-model="planSetupCtrl.planSetup.language.multilingual"
                                           data-ng-value="true">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           data-ng-model="planSetupCtrl.planSetup.language.multilingual"
                                           data-ng-value="false">
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4" data-ng-if="planSetupCtrl.planSetup.language.multilingual">
                            <span>Languages</span>
                            <div class="form-group">
                                <label>
                                    <select class="form-control multiselect"
                                            multiple="multiple"
                                            data-ng-options="language.value for language in planSetupCtrl.languages track by language.id"
                                            data-ng-model="planSetupCtrl.planSetup.language.supported"></select>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
            <section class="col-xs-12 col-sm-4 col-md-4">
                <fieldset class="well fieldset form-group col-xs-12">
                    <legend class="legend"><strong>Notifications</strong></legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Apply To Configure Notifications</span>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio"
                                           data-ng-model="planSetupCtrl.planSetup.notifications.configurable"
                                           data-ng-value="true">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           data-ng-model="planSetupCtrl.planSetup.notifications.configurable"
                                           data-ng-value="false">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
        </div>
    </form>
</main>
<footer>

</footer>
