@import url('https://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
@import "nav-tabs.css";

body {
    padding-top: 64px;
    padding-bottom: 64px;
}

.navbar {
    border-radius: 0;
}

.navbar-right {
    margin-right: 0;
}

form[name="loginForm"], form[name="registerForm"] {
    margin-top: 64px;
}

form .fieldset .legend {
    width: auto;
    border-bottom: none;
}

fieldset.well {
    border-radius: 8px;
}
