<header>
    <h3>Role Management</h3>
</header>
<data-loading-spinner data-loading="roleCtrl.loadingRoles"></data-loading-spinner>

<main class="roles-container main-content clearfix" data-ng-if="!roleCtrl.loadingRoles">
    <section class="role-list col-xs-12">
        <header class="col-xs-12 m-y-5">
            <strong>Roles</strong>
            <section class="pull-right">
                <button class="btn btn-success btn-xs"
                        data-ng-disabled="!roleCtrl.canModifyRoles"
                        data-ng-click="roleCtrl.addRole()">
                    <i class="fa fa-plus"></i></button>
                <button class="btn btn-danger btn-xs"
                        data-ng-disabled="!roleCtrl.canModifyRoles || !roleCtrl.selected"
                        data-ng-click="roleCtrl.deleteRole()">
                    <i class="fa fa-trash"></i></button>
            </section>
        </header>
        <main>
            <fieldset class="fieldset well col-xs-12">
                <div class="alert alert-info m-b-0" data-ng-if="!roleCtrl.roles.length">
                    No roles configured yet. Please add one...
                </div>

                <button data-ng-repeat="role in roleCtrl.roles"
                        type="button"
                        class="btn btn-default m-x-5"
                        data-ng-class="{'btn-success': role._id === roleCtrl.selected._id}"
                        data-ng-click="roleCtrl.selected = role"
                        data-ng-bind="role._id"></button>
            </fieldset>
        </main>
    </section>

    <section class="role-info col-xs-12">
        <header class="col-xs-12 m-y-5">
            <strong>Role Info</strong>
        </header>
        <main>
            <form name="roleForm">
                <fieldset class="fieldset well col-xs-12" data-ng-disabled="!roleCtrl.canModifyRoles">
                    <div class="alert alert-info m-b-0" data-ng-if="!roleCtrl.roles.length">
                        Please select a role from the list or add one...
                    </div>

                    <div class="form-group col-xs-6" data-ng-repeat="(key, roleValue) in roleCtrl.selected">
                        <div data-ng-if="key !== 'responsibilities'">
                            <label for="role-{{key}}" class="text-capitalize" data-ng-bind="key"></label>
                            <input type="text"
                                   id="role-{{key}}"
                                   name="role-{{key}}"
                                   class="form-control"
                                   data-ng-model="roleValue">
                        </div>
                    </div>
                </fieldset>
            </form>
        </main>
        <footer class="row">
            <section class="col-xs-12">
                <button type="button"
                        class="btn btn-primary"
                        data-ng-disabled="!roleCtrl.canModifyRoles"
                        data-ng-click="roleCtrl.updateRoles()">
                    <span data-ng-if="!roleCtrl.updating">Update</span>
                    <span data-ng-if="roleCtrl.updating">
                        <i class="fa fa-spinner fa-pulse"></i> Updating...
                    </span>
                </button>
            </section>
        </footer>
    </section>
</main>
