<section>
    <div class="row">
        <div class="sidebar col-sm-3 col-md-2">
            <aside>
                <ul class="nav nav-sidebar">
                    <li data-ng-repeat="nav in configCtrl.sidebar"
                        data-ui-sref-active="{active: nav.activeState}">
                        <a data-ui-sref="{{nav.state}}" title="{{nav.title | translate}}">{{nav.title | translate}}</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <data-ui-view></data-ui-view>
        </div>
    </div>
</section>
