<header>
    <div class="row">
        <section class="col-xs-6">
            <h3>Plan Management</h3>
        </section>
        <section class="col-xs-6">
            <section class="pull-right m-b-10 p-x-10">
                <label for="userGroups"></label>
                <select id="userGroups"
                        class="form-control"
                        data-ng-if="configPlanCtrl.userGroups.length"
                        data-ng-options="group.name for group in configPlanCtrl.userGroups | orderBy: 'groupId' track by group._id"
                        data-ng-change="configPlanCtrl.changeGroup()"
                        data-ng-model="configPlanCtrl.selectedGroup"></select>
            </section>
        </section>
    </div>
</header>
<main class="plan-container main-content">
    <form name="configForm" data-ng-submit="configPlanCtrl.updatePlan()">
        <ul class="nav nav-pills">
            <li data-ng-repeat="tab in configPlanCtrl.tabs"
                data-ui-sref-active="active">
                <a data-ui-sref="{{tab.state}}" data-ng-bind="tab.title"></a>
            </li>
            <li class="pull-right p-t-20 p-r-10">
                <button type="button"
                        class="btn btn-success btn-xs"
                        title="{{configPlanCtrl.userGroupPresent && !configPlanCtrl.planConfigured ? 'Add Plan Config': 'New Plan'}}"
                        data-ng-disabled="configPlanCtrl.updating || configPlanCtrl.addingPlanConfig"
                        data-ng-click="configPlanCtrl.newPlan()"><i class="fa fa-plus"></i></button>
                <button class="btn btn-primary btn-xs"
                        title="Update Plan"
                        data-ng-if="configPlanCtrl.planConfigured"
                        data-ng-disabled="!configPlanCtrl.configChanged || configPlanCtrl.updating"><i class="fa fa-save"></i></button>
                <button type="button"
                        class="btn btn-danger btn-xs"
                        title="Delete Plan"
                        data-ng-disabled="!configPlanCtrl.selectedGroup || configPlanCtrl.updating  || configPlanCtrl.addingPlanConfig"
                        data-ng-click="configPlanCtrl.deletePlan()"><i class="fa fa-trash"></i></button>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <hr/>

            <data-loading-spinner data-loading="configPlanCtrl.loadingConfig"></data-loading-spinner>

            <div class="col-xs-12" data-ng-if="!configPlanCtrl.loadingConfig">
                <div class="alert alert-info" data-ng-if="!configPlanCtrl.userGroupPresent">
                    You have not added a Group/Plan yet. Use the add button above to add one or contact your administrator.
                </div>

                <div class="alert alert-info" data-ng-if="configPlanCtrl.userGroupPresent && !configPlanCtrl.planConfigured">
                    Plan for this group is not configured yet. Use the add button above to configure on your own or
                    <a href="javascript:void(0)" class="alert-link" data-ng-click="configPlanCtrl.inheritFromRoot()">
                        Inherit from Root
                    </a>
                    and modify accordingly.
                </div>
            </div>

            <div class="col-xs-12" data-ng-if="configPlanCtrl.planConfigured && !configPlanCtrl.loadingConfig">
                <data-ui-view></data-ui-view>
            </div>
        </div>
    </form>

    <div class="modal fade"
         id="addPlan"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="planForm" data-ng-submit="configPlanCtrl.addPlan()">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                data-ng-disabled="configPlanCtrl.addingPlan"
                                aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            New Plan
                        </h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="form-group col-xs-6">
                            <label for="planName">Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="planName"
                                   name="planName"
                                   placeholder="Plan Name"
                                   data-ng-model="configPlanCtrl.plan.name"
                                   required>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="planDescription">Description</label>
                            <input type="text"
                                   class="form-control"
                                   id="planDescription"
                                   name="planDescription"
                                   placeholder="Plan Description"
                                   data-ng-model="configPlanCtrl.plan.description"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal"
                                data-ng-disabled="configPlanCtrl.addingPlan">
                            Close
                        </button>
                        <button class="btn btn-primary"
                                data-ng-disabled="planForm.$invalid">
                            <span data-ng-if="!configPlanCtrl.addingPlan">Create</span>
                            <span data-ng-if="configPlanCtrl.addingPlan">
                                <i class="fa fa-spinner fa-pulse"></i> Creating...
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
