<section>
    <div class="row">
        <div class="col-xs-12">
            <header>
                <h2>Plan Management</h2>
            </header>
            <main>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-pills">
                        <li data-ng-repeat="tab in configCtrl.config.tabs" data-ui-sref-active="active">
                            <a data-ui-sref="{{tab.state}}">{{tab.title}}</a>
                        </li>
                    </ul>
                    <div class="tab-content clearfix">
                        <hr/>
                        <div class="col-xs-12">
                            <data-ui-view></data-ui-view>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="pull-right">
                    <button class="btn btn-primary">Next {{tab.title}}</button>
                </div>
            </footer>
        </div>
    </div>
</section>
