<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <header class="navbar-header">
            <ul class="nav navbar-nav">
                <li data-ui-sref-active="active">
                    <a class="navbar-brand" data-ui-sref="{{navBarCtrl.nav.top.header.stateRef}}">
                        <strong>{{navBarCtrl.nav.top.header.label}}</strong>
                    </a>
                </li>
            </ul>
        </header>

        <section class="navbar-left" data-ng-if="navBarCtrl.loggedIn">
            <ul class="nav navbar-nav">
                <li data-ng-repeat="link in navBarCtrl.nav.top.links.left" data-ui-sref-active="active">
                    <a data-ui-sref="{{link.stateRef}}" title="{{link.label}}">{{link.label}}</a>
                </li>
            </ul>
        </section>

        <section class="navbar-right" data-ng-if="navBarCtrl.loggedIn">
            <p class="navbar-text">Signed in as {{navBarCtrl.user.username}}</p>
            <ul class="nav navbar-nav">
                <li data-ng-repeat="link in navBarCtrl.nav.top.links.right" data-ui-sref-active="active">
                    <a data-ui-sref="{{link.stateRef}}" title="{{link.label}}">
                        <span data-ng-if="!link.icon">{{link.label}}</span>
                        <i data-ng-if="link.icon" data-ng-class="link.icon.cls"></i>
                    </a>
                </li>
            </ul>
        </section>

        <a class="btn btn-primary btn-sm navbar-btn navbar-right" data-ng-if="!navBarCtrl.loggedIn"
           data-ui-sref="login">Login</a>
    </div>
</nav>
